<ul>
  <li class="extras">
    <a class="home" href="{{ homepage }}">Home</a>
  </li>
  {{ nav from="/" exclude="search|potato|articles" max_depth="1" }}
    <li>
      <a href="{{ url }}"{{ if is_current }} class="current"{{ endif }}>
        {{ title }}
      </a>
    </li>
  {{ /nav }}  
    <li class="extras">
     <a class="rss" href="{{ _site_url }}master-feed">RSS</a>
    </li>
  	<li class="extras">
  	 <a class="twitter" class="rss" href="http://twitter.com/techdiffpodcast">Twitter</a>
  	</li>
</ul>