<ul>
  <li>
    <a href="{{ _site_url }}">Home</a>
  </li>
  {{ nav from="/" max_depth="1" }}
    <li>
      <a href="{{ url }}"{{ if is_current }} class="current"{{ endif }}>
        {{ title }}
      </a>
    </li>
  {{ /nav }}  
    <li class="extras">
     <a class="rss" href="{{ _site_url }}feed">RSS</a>
    </li>
  	<li class="extras">
  	 <a class="twitter" class="rss" href="http://twitter.com/techdiffpodcast">Twitter</a>
  	</li>
  	<li class="extras">
  	 <a class="adn" href="http://app.net/techdiffpodcast">App.net</a>
  	</li>
</ul>