<div class="about">
  <div class="page-header">
    <h1 class="page-title">{{ full_title }}</h1>
  </div>
  <div class="page-content">
    <p class="intro">Technical Difficulties is a weekly podcast exploring the often perplexing and broken world of technology, design, and related disciplines, hosted by Gabe Weatherhead and Erik Hess. Rising from the ashes of their previous show <a href="http://www.70decibels.com/generational/">Generational</a>, it will likely prove as perplexing and broken as the topics they discuss.</p>

    <div class="person">
      <img class="portrait" src="/assets/img/gabe2.jpg" />

      <div class="right">

        <h2>Gabe Weatherhead</h2>
        <h3>Co-host</h3>

        <p>Gabe writes about the fringes of the Apple world over at <a href="http://macdrifter.com">Macdrifter.com</a>. He's also a reformed scientist working as a project manager and systems engineer.</p>

        <ul class="social-links">
          <li>
            <a class="twitter" href="http://twitter.com/macdrifter">
              Twitter
            </a>
          </li>
          <li>
            <a class="adn" href="http://app.net/macdrifter">
              App.net
            </a>
          </li>
          <li>
            <a class="web" href="http://macdrifter.com">
              Web
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="person">

      <img class="portrait"  src="/assets/img/erik.png" />

      <div class="right"> 

        <h2>Erik Hess</h2>
        <h3>Co-host</h3>

        <p>Erik is a designer, developer and recovering fighter pilot. He's co-founder of <a href="http://high90.com">high90</a> and occasionally writes at <a href="http://themindfulbit.com">The&nbsp;Mindful&nbsp;Bit</a>.</p>

        <ul class="social-links">
          <li>
            <a class="twitter" href="http://twitter.com/themindfulbit">
              Twitter
            </a>
          </li>
          <li>
            <a class="adn" href="http://app.net/themindfulbit">
              App.net
            </a>
          </li>
          <li>
            <a class="web" href="http://themindfulbit.com">
              Web
            </a>
          </li>
        </ul>

      </div>
    </div>
    <div class="person">

      <img class="portrait"  src="/assets/img/potatowire.png" />

      <div class="right"> 

        <h2>Potatowire</h2>
        <h3>Co-Host, Producer</h3>

        <p>Potatowire is a mythical creature who helps Gabe and Erik with show notes. Shrouded in mystery, nobody knows exactly who or what a Potatowire actually is, though we're pretty sure it's not the charming baby in the picture. But if you have a problem, if no one else can help, and if you can find him, maybe you can hire Potatowire.</p>

        <ul class="social-links">
          <li>
            <a class="twitter" href="http://twitter.com/potatowire">
              Twitter
            </a>
          </li>
          <li>
            <a class="adn" href="http://app.net/potatowire">
              App.net
            </a>
          </li>
        </ul>

      </div>
    </div>    
    <div class="person">

      <img class="portrait"  src="/assets/img/bob-head.jpg" />

      <div class="right"> 

        <h2>Bob VanderClay</h2>
        <h3>Co-Host, Audio Producer</h3>

        <p>Bob VanderClay has been developing web applications professionally for over 15 years.</p>

        <ul class="social-links">
          <li>
            <a class="twitter" href="http://twitter.com/takitapart">
              Twitter
            </a>
          </li>

          <li>
            <a class="web" href="http://takitapart.com">
              Web
            </a>
          </li>
        </ul>

      </div>
    </div>
    <div class="site">
      <h2>About the Site</h2>

      <p>Erik built this website using <a href="http://statamic.com">Statamic</a>, an outstanding hybrid static/dynamic CMS that gets better every day. Check it out.</p>

      <p>The backdrop is <a href="http://commons.wikimedia.org/wiki/File:Claude-Joseph_Vernet_-_A_Storm_on_a_Mediterranean_Coast_-_Google_Art_Project.jpg">A Storm on a Mediterranean Coast</a>, painted by <a href="http://en.wikipedia.org/wiki/Claude_Joseph_Vernet">Claude-Joseph Vernet</a> in 1767. The <a href="http://commons.wikimedia.org/wiki/File:SS_Austria_shipwreck.jpg">painting</a> on the <a href="/404">404 page</a> depicts the wreck of the <a href="http://en.wikipedia.org/wiki/SS_Austria">SS Austria</a> in 1858. The artist is unknown.</p>
    </div>
  </div>
</div>
