<channel>

  <title>Technical Difficulties Master Feed</title>
  <link>http://technicaldifficulties.us</link>
  <language>en-us</language>
  <copyright>Gabe Weatherhead and Erik Hess</copyright>
  <itunes:owner>
    <itunes:email>erik@themindfulbit.com</itunes:email>
    <itunes:name>Technical Difficulties</itunes:name>
  </itunes:owner>
  <itunes:author>Technical Difficulties</itunes:author>
  <itunes:explicit>no</itunes:explicit>
  <itunes:image href="http://technicaldifficulties.us/assets/img/td-mf-icon.png" />
  <itunes:keywords>Macdrifter,TheMindfulBit,Gabe,Erik,Technology,Security,Apple,Mac,iOS,Family,Parenting,Writing,Hardware,Social</itunes:keywords>
  <itunes:subtitle>Like a normal tech podcast, but broken.</itunes:subtitle>
  <itunes:summary>Technical Difficulties is a weekly podcast exploring the often perplexing and broken world of technology, design, and related disciplines. Hosted by Gabe Weatherhead and Erik Hess</itunes:summary>
  <description>Technical Difficulties is a weekly podcast exploring the often perplexing and broken world of technology, design, and related disciplines. Hosted by Gabe Weatherhead and Erik Hess</description>
  <itunes:block>no</itunes:block>
  <itunes:category text="Technology" />
  <admin:generatorAgent rdf:resource="http://technicaldifficulties.us/" />

  {{ entries:listing folder="episodes|dawn-patrol" }}
  <item>
    <title>{{ if show == "td" }}TD {{ elseif show == "dp" }}DP {{ endif}}{{ number }} - {{ title }}</title>
    <link>{{ permalink }}</link>
    <guid isPermaLink="true">{{ permalink }}</guid>
    <description><![CDATA[{{ if banner }}<img class="show-banner" src="http://technicaldifficulties.us{{ banner }}" />{{ endif }}{{ if caption }}<div class="caption">{{ caption|markdown }}</div>{{ endif }}{{ summary|markdown}} {{ content }}]]></description>
    <pubDate>{{ datestamp format="r" }}</pubDate>
    <itunes:image href="http://technicaldifficulties.us/assets/img/td-mf-icon.png" />
    <enclosure url="{{ download }}" length="0" type="audio/mpeg" />
  </item>
  {{ /entries:listing }}

</channel>