<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ theme:js src="list.min.js" }}"></script>
<script>

$(document).ready(function(){ 

  var options = {
      valueNames: [  'show-number', 'show-title', 'show-date', 'summary', 'type', 'people', 'topics'  ]
  };

  var articleList = new List('show-archive', options);

});

</script>

{{ if taxonomy_slug }}
<div id="show-taxonomy">
  <h1>Episodes with: {{ taxonomy_slug|deslugify }} </h1>
  <input class="search" placeholder="Search Shows">
  <p class="instructions">You can refine your search by show number, name, date, summary, type, people, or topic.</p>
  <ul class="list image-list">
    {{ entries:listing folder="episodes" taxonomy="true" }}
      <li>
        <a class="permalink" href="{{ url }}">
          {{ theme:partial src="transform" title="" file="{{ banner }}" }}
          <h2 class="show-number">{{ number }}</h2>
          <div class="show-info">
            <h2 class="show-title"> {{ title|widont }}</h2>
            <div class="show-date"> {{ datestamp format="F jS, Y" }}</div>
          </div>
          <p class="summary">{{ summary|markdown }}</p>
          {{ if type }}
            <p class="type">{{ type_list }}</p>
          {{ endif }}

          {{ if people }}
            <p class="people">{{ people_list }}</p>
          {{ endif }}
            
          {{ if topics }}
            <p class="topics">{{ topics_list }}</p>
          {{ endif }}
        </a>
      </li>
    {{ /entries:listing }}
  </ul>
</div>
{{ endif }}