<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ theme:js src="list.min.js" }}"></script>
<script>

$(document).ready(function(){ 

  var options = {
      valueNames: [  'show-number', 'show-title', 'show-date', 'summary', 'type', 'people', 'topics'  ]
  };

  var articleList = new List('show-archive', options);

});

</script>

{{ if taxonomy_slug }}
<div id="show-taxonomy">
  <h1>Episodes with: {{ taxonomy_slug|deslugify }} </h1>
  <input class="search" placeholder="Search Shows">
  <p class="instructions">You can refine your search by show number, name, date, summary, type, people, or topic.</p>
  <ul class="list text-list">
    {{ entries:listing folder="episodes|dawn-patrol" taxonomy="true" }}
      {{ if no_results }}
        {{ redirect url="/404" }}
      {{ else }}
      <li>
        <a class="permalink" href="{{ url }}">
          {{ if show == "td" }}
              <h2 class="show-number"><span class="ticks">&minus;&nbsp;</span>TD {{ number }}<span class="ticks">&nbsp;&minus;</span></h2>
          {{ elseif show == "dp" }}   
              <h2 class="show-number"><span class="ticks">&minus;&nbsp;</span>DP {{ number }}<span class="ticks">&nbsp;&minus;</span></h2>
          {{ endif }}   
          <h2 class="show-title"> {{ title|widont }}</h2>
          <p class="show-date"> {{ datestamp format="F jS, Y" }}</p>
          <p class="summary">{{ summary }}</p>

          {{ if people }}
            <p class="people">{{ people_list }}</p>
          {{ endif }}
            
          {{ if topics }}
            <p class="topics">{{ topics_list }}</p>
          {{ endif }}
        </a>
      </li>
      {{ endif }}
    {{ /entries:listing }}
  </ul>
</div>
{{ endif }}